# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Generated output (your friend will generate this after running)
submission.csv
data/custom_submission.csv

# Environments
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
